html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(to bottom, #eee, #ccc);
}
html > body * {
  box-sizing: border-box;
  color: #55595f;
}
body {
  padding: 140px 80px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.crud-container {
  transition: all 350ms;
  z-index: 9;
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #eee, #fff);
  border-radius: 20px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}
.crud-container:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
#todoInput {
  padding: 10px 20px;
  width: 65%;
  font-size: 36px;
  border: 1px solid #ddd;
  border-radius: 10px 0 0 10px;
  outline: none;
}
#todoInput::placeholder {
  color: #eee;
  font-style: italic;
}
#todoInput:focus {
  border: 1px solid #aaa;
}
#todoSubmit {
  width: 35%;
  padding: 10px 20px;
  background: transparent;
  color: #55595f;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 350ms;
  font-weight: 700;
  font-size: 36px;
  border-radius: 0 10px 10px 0;
  transition: all 350ms;
  outline: none;
}
#todoSubmit:focus,
#todoSubmit:hover {
  background: #007aff;
  color: #fff;
}
#progress-container {
  text-align: center;
}
.single-todo {
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 5px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-todo:not(last-child) {
  margin-bottom: 30px;
}
.delete-todo {
  transition: all 350ms;
  font-weight: 700;
  font-size: 36px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.delete-todo:hover,
.delete-todo:focus {
  color: #fff;
  background: #007aff;
  border-color: #007aff;
}
.todo-name::first-letter {
  text-transform: capitalize;
}
.controls-container {
  display: flex;
  align-items: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
.completed-state {
  font-size: 36px;
  margin-right: 10px;
  background: transparent;
  transition: all 350ms;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.completed-state:hover,
.completed-state:focus {
  background: #fff;
}
.multi-controls-container {
  display: flex;
  justify-content: space-between;
}
.btn-control {
  width: 25%;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #ddd;
  transition: all 350ms;
  font-size: 16px;
  cursor: pointer;
}
.btn-control:first-child {
  border-radius: 5px 0 0 5px;
}
.btn-control:last-child {
  border-radius: 0 5px 5px 0;
}
.btn-control:hover,
.btn-control:focus {
  background: #007aff;
  color: #fff;
}
.btn-control:hover *,
.btn-control:focus * {
  color: #fff;
}
#progress-bar-complete {
  height: 20px;
  background: green;
  transition: all 350ms;
  margin: 20px 0;
  float: left;
}
#progress-bar-incomplete {
  height: 20px;
  background: red;
  transition: all 350ms;
  margin: 20px 0;
  float: right;
}
